In [1]:
# https://docs.python.org/2/library/datetime.html
from datetime import datetime

In [2]:
# datetime

In [4]:
now = datetime.now()
now

datetime.datetime(2015, 11, 19, 18, 17, 39, 372856)

In [5]:
now.year, now.month, now.day

(2015, 11, 19)

In [6]:
now.hour, now.minute, now.second,now.microsecond, now.tzinfo

(18, 17, 39, 372856, None)

In [8]:
delta = datetime(2011,1,7) - datetime(2008,6,24, 8, 15) 
delta

datetime.timedelta(926, 56700)

In [9]:
delta.days, delta.seconds

(926, 56700)

In [10]:
# 시간 연산

In [11]:
from datetime import timedelta

In [12]:
start = datetime(2011,1,7)

In [13]:
start + timedelta(12)

datetime.datetime(2011, 1, 19, 0, 0)

In [14]:
str(start)

'2011-01-07 00:00:00'

In [15]:
#https://docs.python.org/2/library/datetime.html#strftime-and-strptime-behavior
start.strftime('%Y-%m-%d')

'2011-01-07'

In [16]:
value = '20150123'

In [19]:
dt = datetime.strptime(value, '%Y%m%d')
dt

datetime.datetime(2015, 1, 23, 0, 0)

In [21]:
# dateutil.parser.parse

In [22]:
from dateutil.parser import parse

In [23]:
parse('2011-01-03')

datetime.datetime(2011, 1, 3, 0, 0)

In [24]:
parse('Jan 31, 1997 10:45 PM')

datetime.datetime(1997, 1, 31, 22, 45)

In [25]:
parse('31/12/2011', dayfirst=True)

datetime.datetime(2011, 12, 31, 0, 0)

In [26]:
parse('12/31/2011')

datetime.datetime(2011, 12, 31, 0, 0)

In [27]:
# 시간 DataFrame

In [28]:
import pandas as pd
from pandas import DataFrame

In [29]:
pcmau = pd.read_csv('mail_pcmau.csv', index_col='분 류', thousands=',').T

In [30]:
pcmau

분 류  naver.com  daum.net  nate.com  google.com  communication-mail
9월-02      1939599  18169858    556665         NaN            20712421
10월-02     1927483  17430340    962698         NaN            20044462
11월-02     2324534  18684232   1864338         NaN            20998532
12월-02     2477848  19103068   3556092         NaN            21393643
1월-03      2576350  19090580   5205320         NaN            21419554
2월-03      2885544  19338630   5339015         NaN            21347029
3월-03      3091230  19854052   5038476         NaN            21992107
4월-03      3381671  19252372   4605165         NaN            21800682
5월-03      3299419  19254174   4510060         NaN            21889912
6월-03      3894331  20410178   4878930         NaN            22951745
7월-03      4016301  20746605   4811039         NaN            22972780
8월-03      4428060  20186228   5320048         NaN            22379283
9월-03      4231484  20284082   5544585         NaN            22265839
10월-03     4283027  20484624   5573478         NaN            22421044
11월-03     4707581  20189203   5055455         NaN            22164090
12월-03     5302335  20910876   5983831         NaN            23043746
1월-04      5679813  20984888   5654637         NaN            23176427
2월-04      5979773  21146798   5303486         NaN            23444831
3월-04      6072524  22135197   5192742         NaN            24984428
4월-04      6249485  21456262   5428641         NaN            24315064
5월-04      6602480  21911904   6454753         NaN            24754254
6월-04      7219760  22046684   7000204         NaN            24866785
7월-04      7777300  22194677   6791591         NaN            25113490
8월-04      7834622  21690226   5206727         NaN            24722110
9월-04      7739602  22391957   5380375         NaN            25953522
10월-04     8314945  22277487   5303270         NaN            25894557
11월-04     8766620  22537309   5718460         NaN            25957531
12월-04     9210256  22940698   6488637         NaN            26129305
1월-05      9770828  23228296   5782026         NaN            26380365
2월-05      9496927  22655442   5246028      292286            26130894
...            ...       ...       ...         ...                 ...
2월-13     16445049  15302367   8136763     1917456            25469465
3월-13     17218338  15282429   8026906     1833469            25733999
4월-13     17499722  15552130   7704685     1636746            25841201
5월-13     17551734  15154851   7602971     1753664            26027771
6월-13     17402594  14618680   7296313     1496933            25647848
7월-13     17358320  14644140   7381676     1556375            25335216
8월-13     16889609  14369395   7241079     1555648            24896754
9월-13     16889534  14131943   7080461     1575855            24912915
10월-13    18025278  14633468   7015064     1611232            25423032
11월-13    17712858  14117708   6757697     1336258            25261929
12월-13    17589390  14358445   6506733     1411548            25345016
1월-14     17669087  13827592   6298640     1548955            24883209
2월-14     16806799  13443259   5980735     1382737            24214828
3월-14     17179211  13890476   6148479     1473548            24699183
4월-14     16831345  13478635   5994593     1371303            24325197
5월-14     17442516  13414101   5868764     1518505            24691219
6월-14     17318585  13201836   5841759     1517366            24568020
7월-14     17396560  13292901   6035119     1476431            24703403
8월-14     17057120  13335667   5669171     1484239            24537349
9월-14     17193074  12959223   5515749     1564786            24380176
10월-14    17130578  13093149   5740949     1377576            24359396
11월-14    16857636  12799077   5422418     1473539            24150259
12월-14    16798943  12749609   5294178     1434281            23913457
1월-15     16600515  12956563   5331004     1544514            23865345
2월-15     15483087  11764914   4853505     1390391            22330964
3월-15     16903873  12903009   5067788     1781983            23840936
4월-15     16550268  12222087   4960576     1645368            23416619
5월-15     16710362  12294511   4809377     1761574            23679246
6월-15     16924774  12025579   4956443     1925899            23610765
7월-15     16636861  12015783   4861113     1938953            23304235

[155 rows x 5 columns]

In [53]:
convert = lambda x: datetime.strptime(x,'%m월-%y')

In [54]:
pcmau.index

DatetimeIndex(['2002-09-01', '2002-10-01', '2002-11-01', '2002-12-01',
               '2003-01-01', '2003-02-01', '2003-03-01', '2003-04-01',
               '2003-05-01', '2003-06-01',
               ...
               '2014-10-01', '2014-11-01', '2014-12-01', '2015-01-01',
               '2015-02-01', '2015-03-01', '2015-04-01', '2015-05-01',
               '2015-06-01', '2015-07-01'],
              dtype='datetime64[ns]', length=155, freq=None, tz=None)

In [32]:
pcmau.index.map(convert)

array([datetime.datetime(2002, 9, 1, 0, 0),
       datetime.datetime(2002, 10, 1, 0, 0),
       datetime.datetime(2002, 11, 1, 0, 0),
       datetime.datetime(2002, 12, 1, 0, 0),
       datetime.datetime(2003, 1, 1, 0, 0),
       datetime.datetime(2003, 2, 1, 0, 0),
       datetime.datetime(2003, 3, 1, 0, 0),
       datetime.datetime(2003, 4, 1, 0, 0),
       datetime.datetime(2003, 5, 1, 0, 0),
       datetime.datetime(2003, 6, 1, 0, 0),
       datetime.datetime(2003, 7, 1, 0, 0),
       datetime.datetime(2003, 8, 1, 0, 0),
       datetime.datetime(2003, 9, 1, 0, 0),
       datetime.datetime(2003, 10, 1, 0, 0),
       datetime.datetime(2003, 11, 1, 0, 0),
       datetime.datetime(2003, 12, 1, 0, 0),
       datetime.datetime(2004, 1, 1, 0, 0),
       datetime.datetime(2004, 2, 1, 0, 0),
       datetime.datetime(2004, 3, 1, 0, 0),
       datetime.datetime(2004, 4, 1, 0, 0),
       datetime.datetime(2004, 5, 1, 0, 0),
       datetime.datetime(2004, 6, 1, 0, 0),
       datetime.datetime(2004, 7, 1, 0, 0),
       datetime.datetime(2004, 8, 1, 0, 0),
       datetime.datetime(2004, 9, 1, 0, 0),
       datetime.datetime(2004, 10, 1, 0, 0),
       datetime.datetime(2004, 11, 1, 0, 0),
       datetime.datetime(2004, 12, 1, 0, 0),
       datetime.datetime(2005, 1, 1, 0, 0),
       datetime.datetime(2005, 2, 1, 0, 0),
       datetime.datetime(2005, 3, 1, 0, 0),
       datetime.datetime(2005, 4, 1, 0, 0),
       datetime.datetime(2005, 5, 1, 0, 0),
       datetime.datetime(2005, 6, 1, 0, 0),
       datetime.datetime(2005, 7, 1, 0, 0),
       datetime.datetime(2005, 8, 1, 0, 0),
       datetime.datetime(2005, 9, 1, 0, 0),
       datetime.datetime(2005, 10, 1, 0, 0),
       datetime.datetime(2005, 11, 1, 0, 0),
       datetime.datetime(2005, 12, 1, 0, 0),
       datetime.datetime(2006, 1, 1, 0, 0),
       datetime.datetime(2006, 2, 1, 0, 0),
       datetime.datetime(2006, 3, 1, 0, 0),
       datetime.datetime(2006, 4, 1, 0, 0),
       datetime.datetime(2006, 5, 1, 0, 0),
       datetime.datetime(2006, 6, 1, 0, 0),
       datetime.datetime(2006, 7, 1, 0, 0),
       datetime.datetime(2006, 8, 1, 0, 0),
       datetime.datetime(2006, 9, 1, 0, 0),
       datetime.datetime(2006, 10, 1, 0, 0),
       datetime.datetime(2006, 11, 1, 0, 0),
       datetime.datetime(2006, 12, 1, 0, 0),
       datetime.datetime(2007, 1, 1, 0, 0),
       datetime.datetime(2007, 2, 1, 0, 0),
       datetime.datetime(2007, 3, 1, 0, 0),
       datetime.datetime(2007, 4, 1, 0, 0),
       datetime.datetime(2007, 5, 1, 0, 0),
       datetime.datetime(2007, 6, 1, 0, 0),
       datetime.datetime(2007, 7, 1, 0, 0),
       datetime.datetime(2007, 8, 1, 0, 0),
       datetime.datetime(2007, 9, 1, 0, 0),
       datetime.datetime(2007, 10, 1, 0, 0),
       datetime.datetime(2007, 11, 1, 0, 0),
       datetime.datetime(2007, 12, 1, 0, 0),
       datetime.datetime(2008, 1, 1, 0, 0),
       datetime.datetime(2008, 2, 1, 0, 0),
       datetime.datetime(2008, 3, 1, 0, 0),
       datetime.datetime(2008, 4, 1, 0, 0),
       datetime.datetime(2008, 5, 1, 0, 0),
       datetime.datetime(2008, 6, 1, 0, 0),
       datetime.datetime(2008, 7, 1, 0, 0),
       datetime.datetime(2008, 8, 1, 0, 0),
       datetime.datetime(2008, 9, 1, 0, 0),
       datetime.datetime(2008, 10, 1, 0, 0),
       datetime.datetime(2008, 11, 1, 0, 0),
       datetime.datetime(2008, 12, 1, 0, 0),
       datetime.datetime(2009, 1, 1, 0, 0),
       datetime.datetime(2009, 2, 1, 0, 0),
       datetime.datetime(2009, 3, 1, 0, 0),
       datetime.datetime(2009, 4, 1, 0, 0),
       datetime.datetime(2009, 5, 1, 0, 0),
       datetime.datetime(2009, 6, 1, 0, 0),
       datetime.datetime(2009, 7, 1, 0, 0),
       datetime.datetime(2009, 8, 1, 0, 0),
       datetime.datetime(2009, 9, 1, 0, 0),
       datetime.datetime(2009, 10, 1, 0, 0),
       datetime.datetime(2009, 11, 1, 0, 0),
       datetime.datetime(2009, 12, 1, 0, 0),
       datetime.datetime(2010, 1, 1, 0, 0),
       datetime.datetime(2010, 2, 1, 0, 0),
       datetime.datetime(2010, 3, 1, 0, 0),
       datetime.datetime(2010, 4, 1, 0, 0),
       datetime.datetime(2010, 5, 1, 0, 0),
       datetime.datetime(2010, 6, 1, 0, 0),
       datetime.datetime(2010, 7, 1, 0, 0),
       datetime.datetime(2010, 8, 1, 0, 0),
       datetime.datetime(2010, 9, 1, 0, 0),
       datetime.datetime(2010, 10, 1, 0, 0),
       datetime.datetime(2010, 11, 1, 0, 0),
       datetime.datetime(2010, 12, 1, 0, 0),
       datetime.datetime(2011, 1, 1, 0, 0),
       datetime.datetime(2011, 2, 1, 0, 0),
       datetime.datetime(2011, 3, 1, 0, 0),
       datetime.datetime(2011, 4, 1, 0, 0),
       datetime.datetime(2011, 5, 1, 0, 0),
       datetime.datetime(2011, 6, 1, 0, 0),
       datetime.datetime(2011, 7, 1, 0, 0),
       datetime.datetime(2011, 8, 1, 0, 0),
       datetime.datetime(2011, 9, 1, 0, 0),
       datetime.datetime(2011, 10, 1, 0, 0),
       datetime.datetime(2011, 11, 1, 0, 0),
       datetime.datetime(2011, 12, 1, 0, 0),
       datetime.datetime(2012, 1, 1, 0, 0),
       datetime.datetime(2012, 2, 1, 0, 0),
       datetime.datetime(2012, 3, 1, 0, 0),
       datetime.datetime(2012, 4, 1, 0, 0),
       datetime.datetime(2012, 5, 1, 0, 0),
       datetime.datetime(2012, 6, 1, 0, 0),
       datetime.datetime(2012, 7, 1, 0, 0),
       datetime.datetime(2012, 8, 1, 0, 0),
       datetime.datetime(2012, 9, 1, 0, 0),
       datetime.datetime(2012, 10, 1, 0, 0),
       datetime.datetime(2012, 11, 1, 0, 0),
       datetime.datetime(2012, 12, 1, 0, 0),
       datetime.datetime(2013, 1, 1, 0, 0),
       datetime.datetime(2013, 2, 1, 0, 0),
       datetime.datetime(2013, 3, 1, 0, 0),
       datetime.datetime(2013, 4, 1, 0, 0),
       datetime.datetime(2013, 5, 1, 0, 0),
       datetime.datetime(2013, 6, 1, 0, 0),
       datetime.datetime(2013, 7, 1, 0, 0),
       datetime.datetime(2013, 8, 1, 0, 0),
       datetime.datetime(2013, 9, 1, 0, 0),
       datetime.datetime(2013, 10, 1, 0, 0),
       datetime.datetime(2013, 11, 1, 0, 0),
       datetime.datetime(2013, 12, 1, 0, 0),
       datetime.datetime(2014, 1, 1, 0, 0),
       datetime.datetime(2014, 2, 1, 0, 0),
       datetime.datetime(2014, 3, 1, 0, 0),
       datetime.datetime(2014, 4, 1, 0, 0),
       datetime.datetime(2014, 5, 1, 0, 0),
       datetime.datetime(2014, 6, 1, 0, 0),
       datetime.datetime(2014, 7, 1, 0, 0),
       datetime.datetime(2014, 8, 1, 0, 0),
       datetime.datetime(2014, 9, 1, 0, 0),
       datetime.datetime(2014, 10, 1, 0, 0),
       datetime.datetime(2014, 11, 1, 0, 0),
       datetime.datetime(2014, 12, 1, 0, 0),
       datetime.datetime(2015, 1, 1, 0, 0),
       datetime.datetime(2015, 2, 1, 0, 0),
       datetime.datetime(2015, 3, 1, 0, 0),
       datetime.datetime(2015, 4, 1, 0, 0),
       datetime.datetime(2015, 5, 1, 0, 0),
       datetime.datetime(2015, 6, 1, 0, 0),
       datetime.datetime(2015, 7, 1, 0, 0)], dtype=object)

In [33]:
pcmau.index = pcmau.index.map(convert)

In [34]:
pcmau

분 류     naver.com  daum.net  nate.com  google.com  communication-mail
2002-09-01    1939599  18169858    556665         NaN            20712421
2002-10-01    1927483  17430340    962698         NaN            20044462
2002-11-01    2324534  18684232   1864338         NaN            20998532
2002-12-01    2477848  19103068   3556092         NaN            21393643
2003-01-01    2576350  19090580   5205320         NaN            21419554
2003-02-01    2885544  19338630   5339015         NaN            21347029
2003-03-01    3091230  19854052   5038476         NaN            21992107
2003-04-01    3381671  19252372   4605165         NaN            21800682
2003-05-01    3299419  19254174   4510060         NaN            21889912
2003-06-01    3894331  20410178   4878930         NaN            22951745
2003-07-01    4016301  20746605   4811039         NaN            22972780
2003-08-01    4428060  20186228   5320048         NaN            22379283
2003-09-01    4231484  20284082   5544585         NaN            22265839
2003-10-01    4283027  20484624   5573478         NaN            22421044
2003-11-01    4707581  20189203   5055455         NaN            22164090
2003-12-01    5302335  20910876   5983831         NaN            23043746
2004-01-01    5679813  20984888   5654637         NaN            23176427
2004-02-01    5979773  21146798   5303486         NaN            23444831
2004-03-01    6072524  22135197   5192742         NaN            24984428
2004-04-01    6249485  21456262   5428641         NaN            24315064
2004-05-01    6602480  21911904   6454753         NaN            24754254
2004-06-01    7219760  22046684   7000204         NaN            24866785
2004-07-01    7777300  22194677   6791591         NaN            25113490
2004-08-01    7834622  21690226   5206727         NaN            24722110
2004-09-01    7739602  22391957   5380375         NaN            25953522
2004-10-01    8314945  22277487   5303270         NaN            25894557
2004-11-01    8766620  22537309   5718460         NaN            25957531
2004-12-01    9210256  22940698   6488637         NaN            26129305
2005-01-01    9770828  23228296   5782026         NaN            26380365
2005-02-01    9496927  22655442   5246028      292286            26130894
...               ...       ...       ...         ...                 ...
2013-02-01   16445049  15302367   8136763     1917456            25469465
2013-03-01   17218338  15282429   8026906     1833469            25733999
2013-04-01   17499722  15552130   7704685     1636746            25841201
2013-05-01   17551734  15154851   7602971     1753664            26027771
2013-06-01   17402594  14618680   7296313     1496933            25647848
2013-07-01   17358320  14644140   7381676     1556375            25335216
2013-08-01   16889609  14369395   7241079     1555648            24896754
2013-09-01   16889534  14131943   7080461     1575855            24912915
2013-10-01   18025278  14633468   7015064     1611232            25423032
2013-11-01   17712858  14117708   6757697     1336258            25261929
2013-12-01   17589390  14358445   6506733     1411548            25345016
2014-01-01   17669087  13827592   6298640     1548955            24883209
2014-02-01   16806799  13443259   5980735     1382737            24214828
2014-03-01   17179211  13890476   6148479     1473548            24699183
2014-04-01   16831345  13478635   5994593     1371303            24325197
2014-05-01   17442516  13414101   5868764     1518505            24691219
2014-06-01   17318585  13201836   5841759     1517366            24568020
2014-07-01   17396560  13292901   6035119     1476431            24703403
2014-08-01   17057120  13335667   5669171     1484239            24537349
2014-09-01   17193074  12959223   5515749     1564786            24380176
2014-10-01   17130578  13093149   5740949     1377576            24359396
2014-11-01   16857636  12799077   5422418     1473539            24150259
2014-12-01   16798943  12749609   5294178     1434281            23913457
2015-01-01   16600515  12956563   5331004     1544514            23865345
2015-02-01   15483087  11764914   4853505     1390391            22330964
2015-03-01   16903873  12903009   5067788     1781983            23840936
2015-04-01   16550268  12222087   4960576     1645368            23416619
2015-05-01   16710362  12294511   4809377     1761574            23679246
2015-06-01   16924774  12025579   4956443     1925899            23610765
2015-07-01   16636861  12015783   4861113     1938953            23304235

[155 rows x 5 columns]

In [35]:
# 날짜 범위

In [36]:
pcmau['2014']

분 류     naver.com  daum.net  nate.com  google.com  communication-mail
2014-01-01   17669087  13827592   6298640     1548955            24883209
2014-02-01   16806799  13443259   5980735     1382737            24214828
2014-03-01   17179211  13890476   6148479     1473548            24699183
2014-04-01   16831345  13478635   5994593     1371303            24325197
2014-05-01   17442516  13414101   5868764     1518505            24691219
2014-06-01   17318585  13201836   5841759     1517366            24568020
2014-07-01   17396560  13292901   6035119     1476431            24703403
2014-08-01   17057120  13335667   5669171     1484239            24537349
2014-09-01   17193074  12959223   5515749     1564786            24380176
2014-10-01   17130578  13093149   5740949     1377576            24359396
2014-11-01   16857636  12799077   5422418     1473539            24150259
2014-12-01   16798943  12749609   5294178     1434281            23913457

In [37]:
pcmau['2014-01']

분 류     naver.com  daum.net  nate.com  google.com  communication-mail
2014-01-01   17669087  13827592   6298640     1548955            24883209

In [38]:
pcmau.ix['2014-1':'2014-6']

분 류     naver.com  daum.net  nate.com  google.com  communication-mail
2014-01-01   17669087  13827592   6298640     1548955            24883209
2014-02-01   16806799  13443259   5980735     1382737            24214828
2014-03-01   17179211  13890476   6148479     1473548            24699183
2014-04-01   16831345  13478635   5994593     1371303            24325197
2014-05-01   17442516  13414101   5868764     1518505            24691219
2014-06-01   17318585  13201836   5841759     1517366            24568020

In [39]:
pcmau.ix['2014-1-1':'2014-6']

분 류     naver.com  daum.net  nate.com  google.com  communication-mail
2014-01-01   17669087  13827592   6298640     1548955            24883209
2014-02-01   16806799  13443259   5980735     1382737            24214828
2014-03-01   17179211  13890476   6148479     1473548            24699183
2014-04-01   16831345  13478635   5994593     1371303            24325197
2014-05-01   17442516  13414101   5868764     1518505            24691219
2014-06-01   17318585  13201836   5841759     1517366            24568020

In [40]:
pd.date_range(start='2014-1-1', periods=365)

DatetimeIndex(['2014-01-01', '2014-01-02', '2014-01-03', '2014-01-04',
               '2014-01-05', '2014-01-06', '2014-01-07', '2014-01-08',
               '2014-01-09', '2014-01-10',
               ...
               '2014-12-22', '2014-12-23', '2014-12-24', '2014-12-25',
               '2014-12-26', '2014-12-27', '2014-12-28', '2014-12-29',
               '2014-12-30', '2014-12-31'],
              dtype='datetime64[ns]', length=365, freq='D', tz=None)

In [41]:
# 프리퀀시

In [42]:
# http://pandas.pydata.org/pandas-docs/stable/timeseries.html#offset-aliases
# 교재 p.403

In [43]:
pd.date_range(start='2014-1', periods=12, freq='M')

DatetimeIndex(['2014-01-31', '2014-02-28', '2014-03-31', '2014-04-30',
               '2014-05-31', '2014-06-30', '2014-07-31', '2014-08-31',
               '2014-09-30', '2014-10-31', '2014-11-30', '2014-12-31'],
              dtype='datetime64[ns]', freq='M', tz=None)

In [56]:
pd.date_range(start='2014-1', periods=12, freq='MS')

DatetimeIndex(['2014-02-01', '2014-03-01', '2014-04-01', '2014-05-01',
               '2014-06-01', '2014-07-01', '2014-08-01', '2014-09-01',
               '2014-10-01', '2014-11-01', '2014-12-01', '2015-01-01'],
              dtype='datetime64[ns]', freq='MS', tz=None)

In [45]:
pd.date_range(start='2014-1', periods=12, freq='BMS')

DatetimeIndex(['2014-02-03', '2014-03-03', '2014-04-01', '2014-05-01',
               '2014-06-02', '2014-07-01', '2014-08-01', '2014-09-01',
               '2014-10-01', '2014-11-03', '2014-12-01', '2015-01-01'],
              dtype='datetime64[ns]', freq='BMS', tz=None)

In [46]:
# 리샘플링

In [47]:
pcmau.resample('A')

분 류,naver.com,daum.net,nate.com,google.com,communication-mail
2002-12-31,2167366.000000,18346874.500000,1734948.250000,NaN,20787264.500000
2003-12-31,3841444.416667,20000133.666667,5155450.166667,NaN,22220650.916667
2004-12-31,7287265.000000,21976173.916667,5826960.250000,NaN,24942692.000000
2005-12-31,11250731.916667,22434847.000000,5177999.333333,400160.181818,26575864.916667
2006-12-31,13509387.416667,21852508.583333,4504501.250000,590736.750000,26736422.500000
2007-12-31,16132152.250000,21134526.666667,4728596.833333,865185.416667,27764059.000000
2008-12-31,18020378.083333,20839384.416667,3460078.083333,1118079.833333,28831314.250000
2009-12-31,17969772.500000,19475228.500000,11427555.750000,1254427.250000,28618711.750000
2010-12-31,18509167.500000,18633308.666667,17123103.916667,1825766.083333,28721226.666667
2011-12-31,18327304.583333,17374860.833333,15179508.083333,2189076.833333,28028333.666667
2012-12-31,17176172.583333,15989473.416667,10324190.916667,1941398.916667,26506800.583333
2013-12-31,17319862.250000,14843589.583333,7436067.666667,1640313.166667,25522275.083333
2014-12-31,17140121.166667,13290460.416667,5817546.166667,1468605.500000,24452141.333333
2015-12-31,16544248.571429,12311778.000000,4977115.142857,1712668.857143,23435444.285714

In [48]:
pcmau.resample('AS-JAN')

분 류,naver.com,daum.net,nate.com,google.com,communication-mail
2002-01-01,2167366.000000,18346874.500000,1734948.250000,NaN,20787264.500000
2003-01-01,3841444.416667,20000133.666667,5155450.166667,NaN,22220650.916667
2004-01-01,7287265.000000,21976173.916667,5826960.250000,NaN,24942692.000000
2005-01-01,11250731.916667,22434847.000000,5177999.333333,400160.181818,26575864.916667
2006-01-01,13509387.416667,21852508.583333,4504501.250000,590736.750000,26736422.500000
2007-01-01,16132152.250000,21134526.666667,4728596.833333,865185.416667,27764059.000000
2008-01-01,18020378.083333,20839384.416667,3460078.083333,1118079.833333,28831314.250000
2009-01-01,17969772.500000,19475228.500000,11427555.750000,1254427.250000,28618711.750000
2010-01-01,18509167.500000,18633308.666667,17123103.916667,1825766.083333,28721226.666667
2011-01-01,18327304.583333,17374860.833333,15179508.083333,2189076.833333,28028333.666667
2012-01-01,17176172.583333,15989473.416667,10324190.916667,1941398.916667,26506800.583333
2013-01-01,17319862.250000,14843589.583333,7436067.666667,1640313.166667,25522275.083333
2014-01-01,17140121.166667,13290460.416667,5817546.166667,1468605.500000,24452141.333333
2015-01-01,16544248.571429,12311778.000000,4977115.142857,1712668.857143,23435444.285714

In [49]:
pcmau.resample('A', kind='period')

분 류,naver.com,daum.net,nate.com,google.com,communication-mail
2002,2167366.000000,18346874.500000,1734948.250000,NaN,20787264.500000
2003,3841444.416667,20000133.666667,5155450.166667,NaN,22220650.916667
2004,7287265.000000,21976173.916667,5826960.250000,NaN,24942692.000000
2005,11250731.916667,22434847.000000,5177999.333333,400160.181818,26575864.916667
2006,13509387.416667,21852508.583333,4504501.250000,590736.750000,26736422.500000
2007,16132152.250000,21134526.666667,4728596.833333,865185.416667,27764059.000000
2008,18020378.083333,20839384.416667,3460078.083333,1118079.833333,28831314.250000
2009,17969772.500000,19475228.500000,11427555.750000,1254427.250000,28618711.750000
2010,18509167.500000,18633308.666667,17123103.916667,1825766.083333,28721226.666667
2011,18327304.583333,17374860.833333,15179508.083333,2189076.833333,28028333.666667
2012,17176172.583333,15989473.416667,10324190.916667,1941398.916667,26506800.583333
2013,17319862.250000,14843589.583333,7436067.666667,1640313.166667,25522275.083333
2014,17140121.166667,13290460.416667,5817546.166667,1468605.500000,24452141.333333
2015,16544248.571429,12311778.000000,4977115.142857,1712668.857143,23435444.285714

In [50]:
pcmau.resample('A', kind='period', how='sum') # mean, min, max, median, first, last, ohlc

분 류  naver.com   daum.net   nate.com  google.com  communication-mail
2002       8669464   73387498    6939793         NaN            83149058
2003      46097333  240001604   61865402         NaN           266647811
2004      87447180  263714087   69923523         NaN           299312304
2005     135008783  269218164   62135992     4401762           318910379
2006     162112649  262230103   54054015     7088841           320837070
2007     193585827  253614320   56743162    10382225           333168708
2008     216244537  250072613   41520937    13416958           345975771
2009     215637270  233702742  137130669    15053127           343424541
2010     222110010  223599704  205477247    21909193           344654720
2011     219927655  208498330  182154097    26268922           336340004
2012     206114071  191873681  123890291    23296787           318081607
2013     207838347  178123075   89232812    19683758           306267301
2014     205681454  159485525   69810554    17623266           293425696
2015     115809740   86182446   34839806    11988682           164048110

In [51]:
pcmau.resample('Q', how='sum')

분 류     naver.com  daum.net  nate.com  google.com  communication-mail
2002-09-30    1939599  18169858    556665         NaN            20712421
2002-12-31    6729865  55217640   6383128         NaN            62436637
2003-03-31    8553124  58283262  15582811         NaN            64758690
2003-06-30   10575421  58916724  13994155         NaN            66642339
2003-09-30   12675845  61216915  15675672         NaN            67617902
2003-12-31   14292943  61584703  16612764         NaN            67628880
2004-03-31   17732110  64266883  16150865         NaN            71605686
2004-06-30   20071725  65414850  18883598         NaN            73936103
2004-09-30   23351524  66276860  17378693         NaN            75789122
2004-12-31   26291821  67755494  17510367         NaN            77981393
2005-03-31   29712756  68203552  16134154      530180            79023153
2005-06-30   33316590  65933021  16030294     1074325            79191207
2005-09-30   34738118  66951140  14485552     1200543            79713984
2005-12-31   37241319  68130451  15485992     1596714            80982035
2006-03-31   39143436  66793748  14907204     1560893            80711769
2006-06-30   39343150  65951254  13805533     1714290            80663481
2006-09-30   40801564  65140488  12882771     1931175            80063468
2006-12-31   42824499  64344613  12458507     1882483            79398352
2007-03-31   45250130  63499462  11838593     2236351            80151468
2007-06-30   48151811  62910583  22489766     2516292            82668293
2007-09-30   49233454  63528197  11197349     2740985            84570883
2007-12-31   50950432  63676078  11217454     2888597            85778064
2008-03-31   52661150  63330791  11660842     3194142            86329515
2008-06-30   54284135  62987988  11169330     3366959            87394029
2008-09-30   54794613  62495480   9575185     3549126            86504378
2008-12-31   54504639  61258354   9115580     3306731            85747849
2009-03-31   53493167  60423761  18789144     3576180            85554939
2009-06-30   53290852  58064260  33722730     3619903            85615037
2009-09-30   53773766  57796714  33724788     3778850            85764014
2009-12-31   55079485  57418007  50894007     4078194            86490551
2010-03-31   55072898  57164109  50119398     4678806            86373860
2010-06-30   55021844  56273257  52865850     4817693            86245268
2010-09-30   55676704  55543587  51010769     5959197            86097767
2010-12-31   56338564  54618751  51481230     6453497            85937825
2011-03-31   56265297  53554643  51124510     6596739            85468670
2011-06-30   55594787  52484319  46337236     6951900            84499653
2011-09-30   54075279  51712390  43106405     6647196            83335929
2011-12-31   53992292  50746978  41585946     6073087            83035752
2012-03-31   51195779  47927366  35695062     5945344            79608722
2012-06-30   52739869  48029360  34524490     5864241            80309261
2012-09-30   51562350  48338311  27684104     5774993            80059993
2012-12-31   50616073  47578644  25986635     5712209            78103631
2013-03-31   50919308  46542315  24646133     5749499            77575619
2013-06-30   52454050  45325661  22603969     4887343            77516820
2013-09-30   51137463  43145478  21703216     4687878            75144885
2013-12-31   53327526  43109621  20279494     4359038            76029977
2014-03-31   51655097  41161327  18427854     4405240            73797220
2014-06-30   51592446  40094572  17705116     4407174            73584436
2014-09-30   51646754  39587791  17220039     4525456            73620928
2014-12-31   50787157  38641835  16457545     4285396            72423112
2015-03-31   48987475  37624486  15252297     4716888            70037245
2015-06-30   50185404  36542177  14726396     5332841            70706630
2015-09-30   16636861  12015783   4861113     1938953            23304235

In [52]:
pcmau.resample('A', kind='period', how='ohlc')

     naver.com                                daum.net                      \
          open      high       low     close      open      high       low
2002   1939599   2477848   1927483   2477848  18169858  19103068  17430340
2003   2576350   5302335   2576350   5302335  19090580  20910876  19090580
2004   5679813   9210256   5679813   9210256  20984888  22940698  20984888
2005   9770828  13126614   9496927  13126614  23228296  23228296  20772997
2006  13168048  14579239  12913092  14579239  22516226  22516226  21197499
2007  14989873  17541142  14726086  17541142  21206975  21510691  20720661
2008  17577149  18477813  17186642  18477813  21359218  21359218  20169548
2009  18431479  18856264  17340970  18856264  20516614  20516614  18821106
2010  18292916  19242916  18116824  19242916  19229655  19229655  17683084
2011  18876760  18876760  17769785  17995959  18161381  18207655  16754108
2012  17121839  17845347  16685681  17126890  16228608  16564825  15481871
2013  17255921  18025278  16445049  17589390  15957519  15957519  14117708
2014  17669087  17669087  16798943  16798943  13827592  13890476  12749609
2015  16600515  16924774  15483087  16636861  12956563  12956563  11764914

                nate.com                               google.com           \
         close      open      high       low     close       open     high
2002  19103068    556665   3556092    556665   3556092        NaN      NaN
2003  20910876   5205320   5983831   4510060   5983831        NaN      NaN
2004  22940698   5654637   7000204   5192742   6488637        NaN      NaN
2005  22618268   5782026   5782026   4716692   5598390     292286   602313
2006  21283596   5101671   5101671   4081529   4081529     538732   646969
2007  21510691   4086891   9349345   3566034   4040501     658200   984281
2008  20680729   4040878   4040878   2908572   3094999    1016114  1241315
2009  19457698   4153113  17480542   4153113  17480542    1242617  1444981
2010  18441462  17046346  17836875  16249330  17749352    1471891  2186222
2011  16834909  17903267  17903267  13337603  13516800    2276741  2353910
2012  15810830  12271546  12271546   8553294   8607471    2031192  2065869
2013  14358445   8482464   8482464   6506733   6506733    1998574  1998574
2014  12749609   6298640   6298640   5294178   5294178    1548955  1564786
2015  12015783   5331004   5331004   4809377   4861113    1544514  1938953

                       communication-mail
          low    close               open      high       low     close
2002      NaN      NaN           20712421  21393643  20044462  21393643
2003      NaN      NaN           21419554  23043746  21347029  23043746
2004      NaN      NaN           23176427  26129305  23176427  26129305
2005   237894   518692           26380365  27117976  26130894  27117976
2006   493049   628560           27237193  27237193  26049620  26393207
2007   658200   984281           26451679  28738723  26206091  28738723
2008  1016114  1118793           28666492  29305645  28393723  28790340
2009  1117225  1444981           28776046  29074898  28325350  29074898
2010  1471891  2158485           28938660  28992839  28364511  28992839
2011  1983598  1983598           28789244  28789244  27365128  27587978
2012  1830855  1865054           26844061  27110680  25802085  26245686
2013  1336258  1411548           26372155  26372155  24896754  25345016
2014  1371303  1434281           24883209  24883209  23913457  23913457
2015  1390391  1938953           23865345  23865345  22330964  23304235